@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0; padding: 0; box-sizing: border-box; font : inherit; color: inherit;
}
a{text-decoration: none;}
ul,ol{list-style: none;}
html{font-size: 10px;}
body{font-size: 1.6rem; color: #222; 
    font-family: 'Quicksand', sans-serif;
}
/* custom  */
.inner{
    margin: 0 auto; padding: 0 20px; width: 100%; position: relative; max-width: 1380px;
}
@media screen and (max-width: 1200px){
    html{font-size: 9px;}
}
@media screen and (max-width: 1024px){
    html{font-size: 8px;}
}
@media screen and (max-width: 768px){
    
}
